body{
    font-family: "Open Sans", sans-serif;
}

nav{
    background-color: transparent!important;
    z-index: 200;
    padding-top: 10px;
}

nav a{
    color: white!important;
}

.nav-item{
    font-size: 12px;
    letter-spacing: .08em;
    color: #fdfdfd;
    text-transform: uppercase;
    margin-right: 40px;
}

.navbar-nav{
    margin-top: 10px;
}

.nav-item.active{
    font-weight: bold;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 28px;
    /* letter-spacing: .08em; */
    text-transform: lowercase;
    margin-left: 20px;
}

.nav-item::after{
    content: " ";
    display: block;
    width: 0%;
    margin: auto;
    height: 2px;
    background-color:  #e1797b;
    transition: width .4s ease;
}
.nav-item:hover::after{
    width: 100%;
}
.nav-item{
    /* transition: all .4s; */
}

nav .dropdown-toggle::after {
    display:none
}

nav .dropdown-menu{
    background-color: #252525;
    border-radius: 8px; 
    margin-top: 15px;
    left: -10px;
    
}

nav .dropdown-item{
    color: #d0d0d0!important;
    font-size: 11px;
    margin-bottom: 10px;

    -webkit-transition: ease .2s; /* Safari */
    transition: ease .2s;
}

nav .dropdown-item:hover{
    color: white!important;
    margin-left: 5px;
    background-color: transparent;
}

.slide{
    top: -68px;
    left: 0;
}

.slide .slick-list img{
    border-right: 1px solid #cdcdcd;
    height: 100vh;
    width: auto!important;
}

.slide .arrow{
    z-index: 200;
    padding: 10px;
    position: absolute;
    top: 50%;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.slide .arrow.left{
    left: 30px;
}

.slide .arrow.right{
    right: 30px;
}